/*@font-face {
  font-family: "iconfont";  Project id 3238882 
  src: url('iconfont.woff2?t=1647055182105') format('woff2'),
       url('iconfont.woff?t=1647055182105') format('woff'),
       url('iconfont.ttf?t=1647055182105') format('truetype');
}*/

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
    content: "\e7a0";
}

.icon-badaxilietubiao05-copy:before {
    content: "\e603";
}

.icon-tongji:before {
    content: "\e637";
}

.icon-xiazai2:before {
    content: "\e63f";
}

.icon-icon-test:before {
    content: "\e678";
}

.icon-guanfangweibo:before {
    content: "\e696";

    
}

.icon-gonganbeian:before {
    content: "\e604";
}

.icon-aite:before {
    content: "\e61c";
}

.icon-xiaolian:before {
    content: "\e60c";
}

.icon-miaobiao:before {
    content: "\e6b7";
}

.icon-morentouxiang:before {
    content: "\e67f";
}

.icon-guanfangweixin:before {
    content: "\e634";
}

.icon-tupian:before {
    content: "\e8ba";
}

.icon-kefu_o1:before {
    content: "\e84f";
}

.icon-Magnifier:before {
    content: "\e62d";
}

.icon-icon:before {
    content: "\e693";
}

.icon-wodedahuiyuan:before {
    content: "\e6c3";
}

.icon-lishi:before {
    content: "\e608";
}

.icon-ketang:before {
    content: "\e6b5";
}

.icon-zhuanlan:before {
    content: "\e624";
}

.icon-wenhuahuodong:before {
    content: "\e600";
}

.icon-bilibilidonghua:before {
    content: "\eb0a";
}

.icon-pindaox:before {
    content: "\e651";
}

.icon-yunzhibo:before {
    content: "\e633";
}

.icon-fasong:before {
    content: "\e60d";
}

.icon-bilibili-fill:before {
    content: "\e75c";
}

.icon-fengche:before {
    content: "\e827";
}

.icon-xiaoxi:before {
    content: "\e602";
}

.icon-huo:before {
    content: "\e6c0";
}

.icon-pindao:before {
    content: "\e601";
}

.icon-shoucang:before {
    content: "\e691";
}

.icon-zhibomaiche:before {
    content: "\e607";
}

.icon-chuangzuozhongxin:before {
    content: "\e70e";
}

.icon-nav_shequzhongxin:before {
    content: "\e62f";
}

.icon-nav_xingerebang:before {
    content: "\e632";
}